<div class="container">
    <div class="box-heading">
        シフト一覧
    </div>
    <div class="box-body alt-table-responsive">
        <table class="table table-hover alt-table-responsive">
            <thead>
                <tr>
                    <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        年
                    </th>
                    <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        月
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @states.each do |state| %>
                    <tr>
                        <th><%= state.year %></th>
                        <% if state.status == 1 %>
                            <th><%= link_to("#{state.month} 月","/show/#{state.year}/#{state.month}") %></th>
                        <% else %>
                            <th><%= state.month %></th>
                        <% end %>
                        </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
